<!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="../assets/img/icons/logo.png" height="70px" width="70px" alt="logo" style="margin-left:-10px; margin-right:-15px">
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2">Bacancy</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Layouts -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">User Details</span></li>
            <li class="menu-item {% if page_name == 'home' %} active {% endif %}">
              <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">User Details</div>
              </a>
            </li>

            <li class="menu-header small text-uppercase"><span class="menu-header-text">Time Sheets </span></li>

            <li class="menu-item {% if page_name == 'timesheet' %} active {% endif %}">
              <a href="timesheets" class="menu-link">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Layouts">View Time Sheets </div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->